.task{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*1 Завдання*/
.button{
    width: 185px;
    height: 59px;

    border-radius: 150px;
    border: 0;
    background: #000;

    color: #FFF;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;

    justify-content: center;
    align-items: center;

    transition-duration: 1s;
}

.button:hover{
    color: #000;
    background: #59FC3F;
    transition-duration: 1s;
}

/*2 Завдання*/
.img{
    margin-top: 50px;
    width: 185px;
    height: 185px;

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0;
}

.img:hover{
    transform: scale(1.5);
    transition-duration: 1s;
    transition-delay: 1s;
}